node_modules
.DS_Store
dist
dist-ssr
*.local
.idea

# local env files
.env.local
.env.*.local

# Log files
npm-debud.log*
yarn-debuf.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
